sudo: false
language: rust
rust:
- 1.27.2
- stable
- beta
- nightly
matrix:
  allow_failures:
  - rust: nightly
addons:
  apt:
    packages:
    - libcurl4-openssl-dev
    - libelf-dev
    - libdw-dev
before_script:
- |
  pip install 'travis-cargo<0.2' --user &&
  export PATH=$HOME/.local/bin:$PATH
script:
- |
  travis-cargo build &&
  travis-cargo test &&
  travis-cargo --only stable doc -- --no-deps
after_success:
- travis-cargo --only stable doc-upload
env:
  global:
  - TRAVIS_CARGO_NIGHTLY_FEATURE=""
  - secure: viT7Ya1VwfH6ZBJWwbfQfAImGAcFKZ3xX2Ez+zlcyELvLWmoDqH8xACt43IbeDOKDP2lOZQz3e4ZL+FHMSWobgSbYeIEHy8EpqXUCJz3ZD975o6G/qaHkQjDeKyotlbTjKlzI9jYURx6F2RAD8Rd6vXtVpbuf5+ii3trIMW5lPPEI5u9f6qSohPGopjUNxnu1d4TenXAVWURIjYdztlKxVI68OAJbCyoX4lnAUzTCQI+F5GoccpHtuBSUBPULRpii3SDnymjJJCTpMMSnykZcbic6nwmnye+//coP45WLrckAzFxXKrUbGCg7dErzXr9im3MnjEgFZpHr5yw7Y5NCILZHWWy+szW00Ao4WOa+QUqqdcqOGpe9BuqjiIcbGdT8RZFB0R5Nt3Dj0RnjEJeRaTyub1tjHnT72lxhvN42+cu/q1XC6vAQ8gfCPmAnzRbQX09RGNLm5lmN0w0CYVIWWyWRzTclW0KgtOeGZaZ7TuVO90eCi+poylIK1alvbf6Y+KjtsyS+DJRrsKWV2aX4uhn2Dv0rVNfgrOCbhwjSeLw1IPVwy+qiKYAil/iyzFXRCJnKJCm6lTPYes9sPKYUoQip6ciKX0SZWO1o6tHcuaa2Om4pYusj95JLL045p5Qb4k1ZGMc1drXfnGmqiQHZLpjypi1J69RkJEz+eebCjI=
branches:
  only:
  - master
