on:
  push:
    branches:
      - master
  pull_request: {}

name: Continuous integration

jobs:
  ci:
    strategy:
      matrix:
        rust:
          - stable
          - beta
          - nightly
          - 1.41.0  # MSRV
        os:
          - ubuntu-latest
          - windows-latest
          - macOS-latest

    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v1
        name: Checkout

      - uses: actions-rs/toolchain@v1
        name: Verify Rust Toolchain
        with:
          profile: minimal
          toolchain: ${{ matrix.rust }}
          override: true
          components: rustfmt, clippy

      - uses: actions-rs/cargo@v1
        name: Format Check
        with:
          command: fmt
          args: --all -- --check
        if: matrix.rust == 'stable' && matrix.os == 'ubuntu-latest'

      - uses: actions-rs/cargo@v1
        name: Clippy Lint
        with:
          command: clippy
          args: --all-targets --all-features -- -D warnings
        if: matrix.os == 'ubuntu-latest'

      - uses: actions-rs/cargo@v1
        name: Build
        with:
          command: build
          args: --verbose --all-features

      - uses: actions-rs/cargo@v1
        name: Unit Tests
        with:
          command: test
          args: --all-features

      - uses: actions-rs/cargo@v1
        name: Build Documentation
        with:
          command: doc
          args: --no-deps --all-features
